<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>슬기로운 물생활</title>

    <th:block th:replace="~{common/common-setting :: common-setting}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/finds-form.css}" type="text/css">
</head>

<body>
<div class="main">
    <th:block th:replace="~{common/header :: header}"></th:block>

    <article class="container mt-3">
        <section class="finds__form">
            <div class="title__wrap text-center">
                <h2 class="title">비밀번호 재설정</h2>
            </div>

            <div class="content__wrap text-center">
                <div class="finds__input-block">
                    <input type="text" id="loginId" name="loginId" placeholder="아이디">
                    <input type="email" id="email" name="email" placeholder="이메일 주소">
                </div>
                <button class="findId" id="findPassword" type="button">비밀번호 찾기</button>
            </div>

        </section>
        <script>
            $(function () {
                $('#findPassword').on("click", function (){
                    const loginId = $('#loginId').val();
                    const email = $('#email').val();

                    const regLoginId = /^[a-z0-9\-_]{5,20}/g;
                    const regEmail = /^[\w-\.]{1,25}@([\w-]+\.)+[\w-]{2,4}$/i;

                    if(loginId.trim() == '' || email.trim() == ''){
                        alert('아이디 또는 이메일 주소를 입력해주세요.');
                        return false;
                    }

                    if(!(loginId.match(regLoginId)) || !(email.match(regEmail))){
                        alert('아이디 또는 이메일 주소를 올바르게 입력해주세요.');
                        return false;
                    }

                    $.ajax({
                        method: "post",
                        url: "http://localhost:8080/members/finds/password",
                        data: {
                            loginId : loginId,
                            email : email
                        },
                        success: function (result){
                            console.log(result);
                        },
                        error: function (result){
                            const response = result.responseJSON;
                            console.log(response);
                            alert(response.message);
                        }
                    })
                    $(".title").html('비밀번호 재설정 결과');
                    $(".content__wrap").html(
                        '<span>사용 중인 이메일로 임시 비밀번호가 발급되었습니다.</span><br/>' +
                        '<span>로그인 하신 후 비밀번호를 변경해주세요.</span><br/>' +
                        '<a href="/" class="mt-3" id="password-find">홈으로 가기</a>'
                    );
                })
            })
        </script>
    </article>

    <th:block th:replace="~{common/footer :: footer}"></th:block>
</div>
</body>

</html>