#title-block{
    background-color: var(--grey);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.content-block h2{
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.title__bottom-right span{
    margin-left: 16px;
}

.title__bottom-right span b{
    font-weight: normal;
}

.content-block{
    margin-bottom: 16px;
}

.btn__likes__box__wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__likes__box{
    border: 1px solid #ccc;
    width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 128px 0;
}

.btn__likes__box .likes__inner{
    font-size: 14px;
    margin: 32px 14px 32px 14px;
}

.btn__likes__box b.likes{
    color: var(--mainred)
}

.btn__likes__box .likes__inner button{
    border: 0;
    color: #fff;
    padding: 32px 64px;
}

.btn__likes__box .likes__inner button.likes{
    background-color: var(--maincolor);
}

.btn__likes__box .likes__inner button.dislikes{
    background-color: #555;
}

.content__wrap {
    max-width: 800px;
    margin: 0 auto;
}

.content-block img{
    width: 100%;
    max-width: 800px;
}

.comment__box__wrap{
    width: 100%;
}

.comment__box__wrap .content-block b.red{
    color: var(--mainred);
}

.comment__box__wrap .comment-block{
    width: 100%;

}

.comment__box__wrap .total-comment__wrap{
    border-bottom: 3px solid var(--maincolor);
}

.comment-line__wrap{
    width: 100%;
}

.comment-line__wrap .nickname-box{
    font-weight: 700;
}

.comment-line__wrap .content-box{
}

.comment-line__wrap .info-box{
    font-size: 12px;
}

.comment-line__wrap .info-box a{
    text-decoration: none;
    color: #555;
}

li.comment-box{
    color: #555;
    border-bottom: 1px solid #555;
    margin-bottom: 8px;
}


.modal-body .content-box {
    margin: 16px 0 8px 0;
}

button.nested-comment, button.modify, button.delete{
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.modal-body .content-box button{
    color: #fff;
}

.modal-body .content-box button:hover{
    color: #fff;
}

.modal-body .content-box button.red {
    background-color: var(--mainred);
}

.modal-body .content-box button.main {
    background-color: var(--maincolor);
}

li.reply-box{
    background-color: var(--grey);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center
}

li.reply-box .reply-line__wrap{
    width: 700px;
}

li.reply-box .reply-line__wrap textarea{
    width: 80%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

li.reply-box .reply-line__wrap button{
    border: 0;
    background-color: var(--maincolor);
    color: #fff;
    width: 64px;
    float: right;
    margin-right: 16px;
}

.nested-comment__wrap .nested__comment-list{
    padding-left: 16px;
    background-color: var(--grey);
}