<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>슬기로운 물생활</title>

    <th:block th:replace="~{common/common-setting :: common-setting}"></th:block>
</head>
<body>
    <div class="main">

        <th:block th:replace="~{common/header :: header}"></th:block>

        <article class="container mt-3">
            <div class="row">
                <div class="col-9">
                    ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                </div>
                <div class="col-3">
                    <th:block th:replace="common/login :: login"></th:block>
                </div>
            </div>
        </article>

        <th:block th:replace="~{common/footer :: footer}"></th:block>
    </div>
</body>
</html>