.finds__form{
    margin: 64px auto auto;
    width: 360px;
    height: 100vh;
}
.finds__input-block{
    margin-bottom: 16px;
}

.finds__form .finds__input-block label{
    font-size: 14px;
    font-weight: 400;
}

.finds__form .finds__input-block input{
    margin-top: 4px;
    width: 100%;
    padding: 12px;
    height: 48px;
    font-size: 15px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    background-color: #fff;
}

.finds__form button.findId{
    width: 100%;
    height: 48px;
    background-color: var(--maincolor);
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.finds__form button.password__confirm{
    width: 100%;
    height: 48px;
    background-color: var(--maincolor);
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.content__wrap a{
    font-size: 14px;
    text-decoration: none;
    color: var(--maincolor)
}

table.my__info{
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
    border-bottom: 1px solid #a9acaf;
}
table.my__info tbody tr {
    border-bottom: 1px solid #a9acaf;
}

table.my__info tbody tr th{
    text-align: left;
    background-color: var(--grey);
    font-weight: normal;
    padding: 10px 14px;
    width: 100px;
}

table.my__info tbody tr td{
    padding: 10px 14px;
    text-align: left;
}

table.my__info tbody tr td input{
    margin-top: 4px;
    width: 220px;
    padding: 12px;
    height: 24px;
    font-size: 15px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    background-color: #fff;
}
table.my__info tbody tr td button.change{
    width: 120px;
    height: 36px;
    border: 0px;
    background-color: var(--mainred);
    color: #fff;
    margin: 8px 0;
}